<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head" "Add Store"}}
    
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
    {{template "header" .}}

    <div class="container-fluid">
        <div class="row">
            {{template "sidebar" .}}

            <div class="col-lg-10 col-md-9 col-sm-8 col-10">
                <div class="card dashboard-page-card">
                    <div class="card-body">
                        <h1 class="card-title">Add store</h1>

                        <p class="card-text">
                            <form method="POST">
                                <div class="form-group row">
                                    <label for="title" class="col-md-2 col-auto col-form-label">Title</label>
                                    <div class="col-xl-5 col-lg-6 col-md-8">
                                        {{if or .Errors.Title .Errors.UniqueTitle}}
                                            <input type="text" class="form-control is-invalid" aria-describedby="title-help" id="title" name="title" placeholder="Title" maxlength="32" required value="{{.Fields.Title}}">
                                        {{else}}
                                            <input type="text" class="form-control" aria-describedby="title-help" id="title" name="title" placeholder="Title" maxlength="32" required value="{{.Fields.Title}}">
                                        {{end}}
                                        <small id="title-help" class="form-text text-muted">
                                            A label used to identify your store. It must not be longer than 32 characters.
                                        </small>
                                        {{if .Errors.Title}}
                                            <div class="invalid-feedback">
                                                Title cannot be empty or more than 32 characters long.
                                            </div>
                                        {{end}}
                                        {{if .Errors.UniqueTitle}}
                                            <div class="invalid-feedback">
                                                You're already using this title for another store.
                                            </div>
                                        {{end}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="viewkey" class="col-auto col-md-2 col-form-label">Wallet View Key</label>
                                    <div class="col-xl-5 col-lg-6 col-md-8">
                                        {{if .Errors.ViewKey}}
                                            <input type="text" class="form-control is-invalid" aria-describedby="viewkey-help" id="viewkey" name="viewkey" placeholder="Wallet View Key" minlength="128" maxlength="128" required value="{{.Fields.ViewKey}}">
                                            <div class="invalid-feedback">
                                                Wallet View Key needs to be 128 characters long.
                                            </div>    
                                        {{else}}
                                            <input type="text" class="form-control" aria-describedby="viewkey-help" id="viewkey" name="viewkey" placeholder="Wallet View Key" minlength="128" maxlength="128" required value="{{.Fields.ViewKey}}">
                                        {{end}}
                                        <small id="viewkey-help" class="form-text text-muted">
                                            The Wallet View Key of the DERO Wallet you want to receive the payments to. It must be 128 characters long. It can be retrieved by executing the command <code>4) Display Watch-able View only wallet key</code> inside the Wallet CLI.
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="webhook" class="col-auto col-md-2 col-form-label">Webhook URL</label>
                                    <div class="col-xl-5 col-lg-6 col-md-8">
                                        <input type="text" class="form-control" aria-describedby="webhook-help" id="webhook" name="webhook" placeholder="Webhook URL" value="{{.Fields.Webhook}}">
                                        <small id="webhook-help" class="form-text text-muted">
                                            The URL of the <a href="/docs#section/Webhook">Webhook</a> you want to receive payments update events on. It can be set at a later time.
                                        </small>
                                    </div>
                                </div>

                                <button class="btn btn-primary rounded-pill" type="submit">
                                    Submit
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{template "bootstrapDeps"}}
</body>
</html>
