{{define "header"}}
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/img/header_logo.png" alt="DERO Merchant Header Logo">
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse mt-3 mt-lg-0" id="navbar-content">
                {{if .UserSignedIn}}
                    <ul class="navbar-nav ml-auto mr-3 text-uppercase">
                        <li class="nav-item">
                            <a class="btn btn-sm btn-info font-weight-bold my-2 my-lg-0 mx-0 mx-lg-2" href="/docs"><i class="fas fa-book"></i> Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-sm btn-primary font-weight-bold my-2 my-lg-0 mx-0 mx-lg-2" href="/dashboard"><i class="fas fa-home"></i> Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <form class="my-2 my-lg-0 mx-0 mx-lg-2" method="POST" action="/user/signout" role="link">
                                <button class="btn btn-sm btn-outline-dark text-uppercase font-weight-bold" type="submit"><i class="fas fa-sign-out-alt"></i> Sign Out</button>
                            </form>
                        </li>
                    </ul>
                {{else}}
                    <ul class="navbar-nav ml-auto text-uppercase">
                        <li class="nav-item">
                            <a class="btn btn-sm btn-info font-weight-bold my-2 my-lg-0 mx-0 mx-lg-2" href="/docs"><i class="fas fa-book"></i> Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-sm btn-primary font-weight-bold my-2 my-lg-0 mx-0 mx-lg-2" href="/user/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-sm btn-outline-primary font-weight-bold my-2 my-lg-0 mx-0 mx-lg-2" href="/user/signin"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                        </li>
                    </ul>
                {{end}}
            </div>
        </div>
    </nav>
{{end}}
